{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:80px">
    <div class="section no-pad-bot">
        <div class="container">
            <h5>List of all phenotypes</h5>
             <div class="fixed-action-btn horizontal" style="position: absolute; display: inline-block;bottom:13px;">
            <a class="btn-floating btn-large waves-effect brown" href="/rest/phenotype/list.csv"><i class="material-icons" id="download_btn">file_download</i></a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara5.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                {% render_table phenotype_table %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){    
        $('.parallax').parallax();

    });
    if (RegExp('multipage', 'gi').test(window.location.search)) {
        var steps = [
            {
                element: '.table-container',
                intro: 'The phenotype table displays all public phenotypes across all studies.',
                position: 'top'
            },
            {
                element: 'thead',
                intro: 'The phenotype list can be sorted by any of the table columns'
            },
            {
                element: 'td.study',
                intro: 'Clicking on a study will display more information about the corresponding study '
            }

        ];
        var intro = introJs();
        intro.setOptions({doneLabel:'Next page',steps:steps});
        intro.start().oncomplete(function() {
          window.location.href = '/study/1?multipage=true';
        });
    }
</script>
{% endblock content %}
