{% extends "base.html" %}

{% block title %}AraPheno - Phenotype {{object.name}} {% endblock title %}

{% block content %}
{% with citation=phenotype type='phenotype' publications=phenotype.study.publications submission=phenotype.study.submission%}
{% include 'phenotypedb/citation_box.html' %}
{% endwith %}
<div id="index-banner" class="parallax-container" style="height:80px">
    <div class="section no-pad-bot">
        <div class="container">
            <h5 class="white-text">Phenotype: {{ object.name }}</h5>
            <div style="position: relative;">
            <div class="fixed-action-btn horizontal click-to-toggle" style="position: absolute; display: inline-block; bottom: -4px; right: 0px;z-index:1;">
                <a class="btn-floating btn-large white">
                    <i class="large material-icons brown-text" id="download_btn">file_download</i>
                </a>
                <ul>
                    <li><a href="/rest/phenotype/{{object.id}}.csv" class="btn-floating yellow darken-3 black-text" style="font-size:10px;text-align:center;font-weight:bold">Meta</a></li>
                    <li><a href="#downloadmodal" class="btn-floating green black-text waves-effect modal-trigger" style="font-size:10px;text-align:center;font-weight:bold">Values</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div id="downloadmodal" class="modal">
    <div class="modal-content">
        <h4>Choose a download format</h4>
        <ul class="collection">
            <a href="/rest/phenotype/{{object.id}}/values.csv">
                <div>
                <li class="collection-item avatar">
                <i class="material-icons circle brown">file_download</i>
                <span class="title black-text">CSV</span>
                <p class="black-text light">
                Download the phenotypic values for the phenotype <strong>{{object.name}}</strong> in CSV format<br>
                This format includes meta-information for the accessions, such as latitude and longitude.
                </p>
                </li></div>
            </a>
            <a href="/rest/phenotype/{{object.id}}/values.plink">
                <div>
                <li class="collection-item avatar">
                <i class="material-icons circle amber">file_download</i>
                <span class="title black-text">PLINK</span>
                <p class="black-text light">
                Download the phenotypic values for the phenotype <strong>{{object.name}}</strong> in PLINK format<br>
                This format only contains the accession ids and its phenotypic values.
                </p>
                </li></div>
            </a>
            <a href="/rest/phenotype/{{object.id}}/values.json">
                <div>
                <li class="collection-item avatar">
                <i class="material-icons circle light-blue">file_download</i>
                <span class="title black-text">JSON</span>
                <p class="black-text light">
                Download the phenotypic values for the phenotype <strong>{{object.name}}</strong> in JSON format<br>
                This format includes meta-information for the accessions, such as latitude and longitude.
                </p>
                </li></div>
            </a>
        </ul>
    </div>
</div>

<div class="container">
        <br>
        <div class="row">
        <div class="col s12 m5" id="infos">
            <div class="row">
                <div class="col s3">
                    <span>ID:</span>
                </div>
                <div class="col s9">
                    {{ object.id }}
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Study:</span>
                </div>
                <div class="col s9">
                    <a href="/study/{{object.study.id}}"><span>{{ object.study.name }}</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>DOI:</span>
                </div>
                <div class="col s9">
                    <span><a href="{{ object.doi_link }}" target="_blank">{{ object.doi }}</a> (<a  class="modal-trigger" href="#citationModal"><i class="material-icons">format_quote</i>Cite
                    </a>)</span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Scoring:</span>
                </div>
                <div class="col s9">
                    <span>{{ object.scoring }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Growth conditions:</span>
                </div>
                <div class="col s9">
                    <span>{{ object.growth_conditions }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Trait-Ontology:</span>
                </div>
                <div class="col s9">
                    <span>
                        {% if object.to_term %}
                            <a href="{{ object.to_term.get_info_url }}" target="_blank">{{ object.to_term.name }} ({{ object.to_term.id }})</a>
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Environment ontology:</span>
                </div>
                <div class="col s9">
                    <span>
                        {% if object.eo_term %}
                            <a href="{{ object.eo_term.get_info_url }}" target="_blank">{{ object.eo_term.name }} ({{ object.eo_term.id }})</a>
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Unit:</span>
                </div>
                <div class="col s9">
                    <span>
                        {% if object.uo_term %}
                            <a href="{{ object.uo_term.get_info_url }}" target="_blank">{{ object.uo_term.name }} ({{ object.uo_term.id }})</a>
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Shapiro-Wilk*:</span>
                </div>
                <div class="col s9">
                    <span>
                        {{ shapiro|floatformat:"-2e" }} (p-value)
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <span>Submission date:</span>
                </div>
                <div class="col s9">
                    <span>{{ object.integration_date }}</span>
                </div>
            </div>
            <div class="row">
            <span style="font-size:11px;">* The Shapiro-Wilk test tests the null hypothesis that the data was drawn from a normal distribution.</span>
            </div>
        </div>
        <div class="col s12 m7" style="text-align:center" id="geo_chart_container">
            <span >Geographic distribution of {{ object.phenotypevalue_set.count }} accessions</span>
            <div id="geo_chart" style="width:100%;height:100%"></div>
        </div>
            <div class="row">
                <div class="col s12"><h5>Phenotype Publications</h5></div>
                <div class="col s12">
                     <ul class="collection">
                        {% for p in object.study.publications.all %}
                            <li class="collection-item">
                                <span class="title">
                                    {% if p.pubmed_id %}
                                    <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ p.pubmed_id }}" target="_blank">{{ p.title }}</a>
                                    {% else %}
                                    {{ p.title }}
                                    {% endif %}
                                </span>
                                <p class="author-list">
                                    {{ p.author_order }}
                                </p>
                                <p class="publication-details">
                                    {{ p.journal }}. {{ p.pub_year }} {{ p.volume }}: {{ p.pages }}. doi: {{ p.doi }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#histogram" id="histogram_link" class="active brown-text">Histogram</a></li>
                <li class="tab col s3"><a  href="#explorer" id="explorer_link" class="brown-text">Explorer</a></li>
                <li class="tab col s3"><a href="#table" id="table_link" class="brown-text">Table</a></li>
                <div class="indicator brown" style="z-index:1"></div>
            </ul>
        </div>
        <div id="histogram" class="col s12" style="height:500px">
            <h5>
                <center><a href="{% url 'transformation-results' pk=object.id %}">Show transformations</a></center>
            </h5>
            <div id="histogram_chart" class="chart"></div>
        </div>
        <div id="explorer" class="col s12" style="height:500px;width:100%;">
            <div id="explorer_chart" class="chart">
                <div class="flash_warning">
                    <h5 id="flash_warning" >
                        This visualization requires Flash to be active/installed.<br>
                        If you use Safari, try Firefox or Chrome
                    </h5>
                </div>
            </div>
        </div>
        <div id="table" class="col s12" style="height:500px">
            <div id="table_chart" class="chart"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var geoChrt,geoChartData,histogramChart,histogramData,explorerChart,explorerData, tableChart;
    $(document).ready(function(){
        $('.parallax').parallax();

        $('.modal-trigger').leanModal({
            dimissible:true,
            in_duration: 300,
        });

        $('ul.tabs').on('click', 'a', function(e) {
            var target = e.currentTarget;
            if (target.id === 'explorer_link') {
                width = $('#explorer').width();
                explorerChart.draw(explorerData,{width:width,height:500});
            }
        });

        if (RegExp('multipage', 'gi').test(window.location.search)) {
            var steps = [
                {
                    element: '#download_btn',
                    intro: 'The user can download the phenotype values in CSV format'
                },
                {
                    element: '#infos',
                    intro: 'General information about the selected phenotype are displayed here'
                },
                {
                    element: '#geo_chart_container',
                    intro: 'The geographic distrubtion of the accessions that where phenotyped are displayed on this map'
                },
                {
                    element: '#histogram_chart',
                    intro: 'The phenotypic distribution is displayed as a Histogram',
                    position: 'top'
                },
                {
                    element: '#explorer_chart',
                    intro: 'This <b>explorer</b> chart combines the phenotype values with information of the corresponding accessions. This way interesting pattern can be discovered. The user can choose between viewing the data as a barchart or as a bubble chart. <b>Note: the chart requires flash</b>',
                    position: 'top'
                },
                {
                    element: '#table_chart',
                    intro: 'The same information as in the previous explorer chart are shown in tabular form',
                    position: 'top'
                }

            ];
            var intro = introJs();
            intro.setOptions({steps:steps}).onbeforechange(function(target) {
                if (target.id === 'explorer_chart') {
                     $('ul.tabs').tabs('select_tab', 'explorer');
                }
                else if (target.id == 'table_chart') {
                    $('ul.tabs').tabs('select_tab', 'table');
                }
            });
            intro.start().oncomplete(function() {
                ga('send', 'event', 'Tour', 'complete','Phenotype Detail');
            }).onexit(function() {
                ga('send', 'event', 'Tour', 'exit','Phenotype Detail');
            });
        }

    });
    google.load('visualization', '1.0', {'packages':['corechart','geochart','motionchart','table']});
    google.setOnLoadCallback(drawCharts);

    function drawCharts() {
        geoChart =  new google.visualization.GeoChart(document.getElementById('geo_chart'));
        histogramChart =  new google.visualization.Histogram(document.getElementById('histogram_chart'));
        explorerChart = new google.visualization.MotionChart(document.getElementById('explorer_chart'));
        tableChart = new google.visualization.Table(document.getElementById('table_chart'));

        {% autoescape off %}
        geoChartData = google.visualization.arrayToDataTable([
          ['Country', 'Frequency'],
          {% for geo in geo_chart_data %}
             [ "{{ geo.country }}", {{ geo.count }} ],
          {% endfor %}
        ],false);

        histogramData = google.visualization.arrayToDataTable([
          ['Phenotype', 'Frequency'],
          {% for item in object.phenotypevalue_set.all %}[ "{{ item.obs_unit.accession.name }} ({{ item.id }})", {{ item.value }} ],{% endfor %}
        ],false);

        explorerData = google.visualization.arrayToDataTable([
          ['ID Name Phenotype','Date','Longitude','Latitude','Phenotype','Accession','Country'],
          {% for item in pheno_acc_infos %}
             [ "{{ item.obs_unit.accession.name }} ID:{{ item.obs_unit.accession.id }} Phenotype: {{ item.value }}"
              ,new Date(1900,1,1), {{ item.obs_unit.accession.longitude | default_if_none:"null" }}, {{ item.obs_unit.accession.latitude |default_if_none:"null" }},
              {{ item.value }}, "{{item.obs_unit.accession.name }}", "{{ item.obs_unit.accession.country }}"
            ],
          {% endfor %}
          ],false);

        tableData = google.visualization.arrayToDataTable([
          ['ID','Accession','Longitude','Latitude','Phenotype','Country'],
          {% for item in pheno_acc_infos %}
             [ "<a href=\"{% url 'accession_detail' item.obs_unit.accession.id  %}\">{{ item.obs_unit.accession.id }}</a>", "{{ item.obs_unit.accession.name }}", {{ item.obs_unit.accession.longitude | default_if_none:"null" }}, {{ item.obs_unit.accession.latitude |default_if_none:"null" }},
              {{ item.value }},"{{ item.obs_unit.accession.country }}"
            ],
          {% endfor %}
          ],false);

        {% endautoescape %}

        var geoOptions = {};
        var histogramOptions = {height:500,width:"100%",legend: { position: 'none' },hAxis:{title:'Phenotypic Value'},vAxis:{title:'Frequency'}};
        var explorerOptions = {height:500};
        var tableOptions = {height:500, width:"100%",allowHtml:true};

        geoChart.draw(geoChartData, geoOptions);
        histogramChart.draw(histogramData,histogramOptions)
        tableChart.draw(tableData,tableOptions);
    }
</script>
{% endblock content %}
