{% extends "base.html" %}


{% block content %}
<div id="index-banner" class="parallax-container" style="height:140px">
    <div class="section no-pad-bot">
        <div class="container">
            <h2 class="header center white-text text-lighten-2">List of studies</h2>
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara2.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                  <ul class="pagination center-align">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a>
                        {% endif %}
                    </li>
                    <li>
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span> 
                    </li>
                    <li class="waves-effect">
                         {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12 m12">
                <table>
                    <thead>
                    <tr>
                        <th data-field="name">Name</th>
                        <th data-field="name">Design</th>
                        <th data-field="name"># Phenotypes</th>
                        <th data-field="name">Submitted</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for study in study_list %}
                            <tr>
                                <td><a href="{% url 'study_detail' study.id %}">{{ study.name }}</a></td>
                                <td>{{ study.description}}</td>
                                <td>{{ study.phenotype_count }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){    
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
