{% extends "base.html" %}

{% block title %}AraPheno - Study {{study.name}} {% endblock title %}

{% load render_table from django_tables2 %}

{% block content %}
<!-- Modal Structure -->
{% with citation=study type='study' publications=study.publications submission=study.submission%}
{% include 'phenotypedb/citation_box.html' %}
{% endwith %}
<div id="index-banner" class="parallax-container" style="height:80px">
    <div class="section no-pad-bot">
        <div class="container">
            <h5 class="white-text">Study: {{ study.name }}</h5>
                <div id="download" style="position: relative;">
                <div class="fixed-action-btn horizontal click-to-toggle" style="position: absolute; display: inline-block; bottom: -4px; right: 0px;z-index:1;">
                    <a class="btn-floating btn-large white">
                        <i class="large material-icons brown-text" id="download_btn">file_download</i>
                    </a>
                    <ul>
                        <li><a href="/rest/study/{{study.id}}.csv" class="btn-floating yellow darken-3 black-text" style="font-size:10px;text-align:center;font-weight:bold">Study</a></li>
                        <li><a href="/rest/study/{{study.id}}/phenotypes.csv" class="btn-floating green black-text" style="font-size:10px;text-align:center;font-weight:bold">Pheno</a></li>
                        <li><a href="/rest/study/{{study.id}}/isatab" class="btn-floating blue black-text" style="font-size:10px;text-align:center;font-weight:bold">IsaTab</a></li>
                        <li><a href="/rest/study/{{study.id}}/values.plink" class="btn-floating pink white-text" style="font-size:10px;text-align:center;font-weight:bold">Plink</a></li>
                        <li><a href="/rest/study/{{study.id}}/values.csv" class="btn-floating brown white-text" style="font-size:10px;text-align:center;font-weight:bold">CSV</a></li>
                    </ul>
                </div>
                </div>
                <div id="rnaseq_download" hidden style="position: relative;">
                    <div class="fixed-action-btn horizontal click-to-toggle" style="position: absolute; display: inline-block; bottom: -4px; right: 0px;z-index:1;">
                        <a class="btn-floating btn-large white">
                            <i class="large material-icons brown-text" id="download_btn">file_download</i>
                        </a>
                        <ul>
                            <li><a href="/rest/study/{{study.id}}.csv" class="btn-floating yellow darken-3 black-text" style="font-size:10px;text-align:center;font-weight:bold">Study</a></li>
                            <li><a href="/static/rnaseq/{{study.name_link}}.csv" class="btn-floating brown white-text" style="font-size:10px;text-align:center;font-weight:bold">CSV</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <br>
                <div class="col s12"><h5>DOI</h5></div>
                <div class="col s12" id="description"><a href="{{ study.doi_link }}" target="_blank">{{ study.doi }}</a> (<a  class="modal-trigger" href="#citationModal">
                    <i class="material-icons">format_quote</i>Cite
                </a>)</div>
                <div class="col s12"><h5>Description</h5></div>
                <div class="col s12" id="description">{{ study.description }}</div>
                <div id="statistics">
                    <div class="col s12"><h5>Statistics</h5></div>
                    <div class="col s12" >
                        <ul class="tabs">
                            <li class="tab col s3"><a href="#to" id="to_link" class="active brown-text">Trait ontology</a></li>
                            <li class="tab col s3"><a  href="#eo" id="eo_link" class="brown-text">Environment Ontology</a></li>
                            <li class="tab col s3"><a href="#uo" id="uo_link" class="brown-text">Unit</a></li>
                            <div class="indicator brown" style="z-index:1"></div>
                        </ul>
                    </div>
                    <div id="to" class="col s12">
                    <div id="to_chart" class="chart"></div>
                    </div>
                    <div id="eo" class="col s12"><div class="chart" id="eo_chart"></div></div>
                    <div id="uo" class="col s12"><div class="chart" id="uo_chart"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12"><h5>Publications</h5></div>
                <div class="col s12">
                     <ul class="collection">
                        {% for p in study.publications.all %}
                            <li class="collection-item">
                                <span class="title">
                                   <a href="https://doi.org/{{ p.doi }}" target="_blank">{{ p.title }}</a>
                                </span>
                                <p class="author-list">
                                    {{ p.author_order }}
                                </p>
                                <p class="publication-details">
                                    {{ p.journal }}. {{ p.pub_year }} {{ p.volume }}: {{ p.pages }}. doi: {{ p.doi }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if user.is_superuser %}
                <div class="col s12">
                    <form  action="{% url 'add_doi' study.pk %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col s9">
                                <input placeholder="DOI" id="doi" name="doi" type="text" class="validate">
                            </div>
                            <div class="col s3">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Add
                                <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col s12 m6">
            <br>
            {% render_table phenotype_table %}
        </div>
    </div>
    <div class="row">

    </div>
</div>


<script type="text/javascript">
    var chartEO,chartTO,chartUO,dataEO,dataTO,dataUO;
    $(document).ready(function(){
        $('.parallax').parallax();
        $('ul.tabs').on('click', 'a', function(e) {
            var target = e.currentTarget;
            var chart = null;
            var data = null;
            if (target.id === 'to_link') {
                chart = chartTO;
                data = dataTO;
            }
            else if (target.id === 'eo_link') {
                chart = chartEO;
                data = dataEO;
            }
            else if (target.id === 'uo_link') {
                chart = chartUO;
                data = dataUO;
            }
            if (chart !== null && data !== null) {
                chart.draw(data,{width:"100%",height:400});
            }
        });
    });

    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function showCiteBox() {
        alert('test');
    }

    function drawCharts() {
        {% autoescape off %}
        dataTO = google.visualization.arrayToDataTable([
            ['TO', '# Number'],

            {% for to in to_data %}
                [ "{{ to.to_term__name }}", {{ to.count }} ],
            {% endfor %}],
            false);

         dataEO = google.visualization.arrayToDataTable([
            ['EO', '# Number'],

            {% for eo in eo_data %}
                [ "{{ eo.eo_term__name }}", {{ eo.count }} ],
            {% endfor %}],
            false);
        dataUO = google.visualization.arrayToDataTable([
            ['UO', '# Number'],

            {% for uo in uo_data %}
                [ "{{ uo.uo_term__name }}", {{ uo.count }} ],
            {% endfor %}],
            false);
        // if RNASeq data, no stats and download buttons
        if (dataTO.wg.length==0 && dataEO.wg.length == 0 && dataUO.wg.length == 0) {
            //document.getElementById('rnaseq-input-base').checked=true;
            document.getElementById('statistics').hidden=true;
            document.getElementById('rnaseq_download').hidden=false;
            document.getElementById('download').hidden=true;
        }
        chartTO = new google.visualization.PieChart(document.getElementById('to_chart'));
        chartEO = new google.visualization.PieChart(document.getElementById('eo_chart'));
        chartUO = new google.visualization.PieChart(document.getElementById('uo_chart'));
        chartTO.draw(dataTO,{width:"100%",height:400});
        {% endautoescape %}
    }
    if (RegExp('multipage', 'gi').test(window.location.search)) {
        var steps = [
            {
                element: '#download_btn',
                intro: 'The user can download all phenotypes in the study eitehr in CSV or as ISA-TAB format'
            },
            {
                element: '#description',
                intro: 'General information about the selected study are displayed here'
            },
            {
                element: '#statistics',
                intro: 'Some general statistics about the phenotypes in the selected study are displayed here'
            },
            {
                element: '.table-container',
                intro: 'The phenotype table displays all phenotypes of the selected study',
                position: 'top'
            },
            {
                element: 'td.name',
                intro: 'Clicking on a phenotype will display more information about the corresponding phenotype'
            }

        ];
        var intro = introJs();
        intro.setOptions({doneLabel:'Next page',steps:steps});
        intro.start().oncomplete(function() {
          ga('send', 'event', 'Tour', 'nextpage','Study Detail');
          window.location.href = '/phenotype/1?multipage=true';
        }).onexit(function() {
          ga('send', 'event', 'Tour', 'exit','Study Detail');
        });
    }
</script>
{% endblock content %}
