{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:140px">
    <div class="section no-pad-bot">
        <div class="container">
            <h2 class="header center white-text text-lighten-2">Study: {{ study.name }}</h2>
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <section class="section">
                <nav>
                    <div class="nav-wrapper brown">
                        <div class="col s12">
                            <a class="breadcrumb">{{ study.name }}</a>
                        </div>
                    </div>
                </nav>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12"><h5>Description</h5></div>
                <div class="col s12">{{ study.description }}</div>
                <div class="col s12"><h5>Statistics</h5></div>
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#to" id="to_link" class="active brown-text">Trait ontology</a></li>
                        <li class="tab col s3"><a  href="#eo" id="eo_link" class="brown-text">Environment Ontology</a></li>
                        <li class="tab col s3"><a href="#uo" id="uo_link" class="brown-text">Unit</a></li>
                        <div class="indicator brown" style="z-index:1"></div>
                    </ul>
                </div>
                <div id="to" class="col s12">
                   <div id="to_chart" class="chart"></div>
                </div>
                <div id="eo" class="col s12"><div class="chart" id="eo_chart"></div></div>
                <div id="uo" class="col s12"><div class="chart" id="uo_chart"></div></div>
            </div>
        </div>
        <div class="col s12 m6">
            {% render_table phenotype_table %}
        </div>
    </div>
    <div class="row">

    </div>
</div>


<script type="text/javascript">
    var chartEO,chartTO,chartUO,dataEO,dataTO,dataUO;
    $(document).ready(function(){    
        $('.parallax').parallax();
        $('ul.tabs').on('click', 'a', function(e) {
            var target = e.currentTarget;
            var chart = null;
            var data = null;
            if (target.id === 'to_link') {
                chart = chartTO;
                data = dataTO;
            }
            else if (target.id === 'eo_link') {
                chart = chartEO;
                data = dataEO;
            }
            else if (target.id === 'uo_link') {
                chart = chartUO;
                data = dataUO;
            }
            if (chart !== null && data !== null) {
                chart.draw(data,{width:"100%",height:400});
            }
        });
    });
    
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawCharts);
    
    function drawCharts() {
        {% autoescape off %}
        dataTO = google.visualization.arrayToDataTable([
            ['TO', '# Number'],
            
            {% for to in to_data %}
                [ "{{ to.to_term }}", {{ to.count }} ],
            {% endfor %}],
            false);

         dataEO = google.visualization.arrayToDataTable([
            ['EO', '# Number'],
            
            {% for eo in eo_data %}
                [ "{{ eo.eo_term }}", {{ eo.count }} ],
            {% endfor %}],
            false);
        dataUO = google.visualization.arrayToDataTable([
            ['UO', '# Number'],
            
            {% for uo in uo_data %}
                [ "{{ uo.uo_term }}", {{ uo.count }} ],
            {% endfor %}],
            false);
        chartTO = new google.visualization.PieChart(document.getElementById('to_chart'));
        chartEO = new google.visualization.PieChart(document.getElementById('eo_chart'));
        chartUO = new google.visualization.PieChart(document.getElementById('uo_chart'));
        chartTO.draw(dataTO,{width:"100%",height:400});
        {% endautoescape %}
    }
</script>
{% endblock content %}
