.arabadge {
    display: inline;
    padding: .2em .6em .3em;
    line-weight: 500;
    line-height: 1;
    font-size: 80%;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    border-radius: .30em;
    background-color: rgb(121,85,72);
}

.collection-item p {
    margin:0;
    margin-top:5px;
}

.collection-item p.author-list {
    font-size: 13px;
}

.collection-item p.publication-details {
    font-size: 12px;
}

.spinner-brown-only {
    border-color: rgb(121,85,72);
}

li.submission-status span {
    color:#9E9E9E;
}

li.submission-status span.active {
    font-weight:400;
    color:#4CAF50
}

.curation-status {
    font-weight:400;
}
.curation-status.ok {
    color:#4CAF50;
}

.curation-status.error {
    color:#F44336;
}

i.material-icons.unknown {
     color:#9E9E9E;
}

i.material-icons.ok {
     color:#4CAF50;
}

i.material-icons.error {
     color:#F44336;
}

.flash_warning {
    display: flex;
    justify-content: center;
    height: 100%;
}

.flash_warning h5 {
    align-self: center;
    width: 60%;
    text-align: center;
}

.card-subtitle {
    font-size: 20px;
    font-weight: 300;
}   

.card.ontology {
    width:390px;
    height:300px;
}
.card.ontology p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 180px;
}

.ontology-container {
    flex:1;
    justify-content:space-around;
    flex-wrap:wrap;
}
.ontology-source-container {
    display:flex;
    flex-direction:column;
    flex:1;
}
.ontology-source-container .row {
    display:flex;
    flex:1;
}