.arabadge {
    display: inline;
    padding: .2em .6em .3em;
    line-weight: 500;
    line-height: 1;
    font-size: 80%;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    border-radius: .30em;
    background-color: rgb(121,85,72);
}

.collection-item p {
    margin:0;
    margin-top:5px;
}

.collection-item p.author-list {
    font-size: 13px;
}

.collection-item p.publication-details {
    font-size: 12px;
}

