{% extends "base.html" %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
            <h3 class="header center white-text text-lighten-2">About AraPheno and the People Behind</h3>
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara5.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">
                <h5 class="light"><i class="material-icons brown-text" style="font-size:30px">info</i> What is AraPheno</h5>
                <p class="light">Add here a description about AraPheno. E.g. which institutes collaborated on developing this database</p>
            </div>
        </div>
        <div class="row">
            <h5 class="light"><i class="material-icons brown-text" style="font-size:30px">create</i> How to cite AraPheno</h5>
            <p class="light">AraPheno is currently under development. If you use it in the meantime please still cite it as follows:</p>
        </div>
        <div class="row">
            <h5 class="light"><i class="material-icons brown-text" style="font-size:30px">people</i> People behind AraPheno</h5>
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="waves-effect waves-block waves-light">
                        <a target="_blank" href="http://www.cctb.uni-wuerzburg.de/groups/evolutionary_genomics_korte/people/">
                        <img style="height:80px;padding:5px 5px;" class="activator" src="/static/img/cctb_logo.png">
                        </a>
                    </div>
                    <div  class="card-content">
                        <span class="card-title grey-text text-darken-4">University of Würzburg, Center for Computational and Theoretical Biology</span>
                        <p><a target="_blank" href="http://www.cctb.uni-wuerzburg.de/groups/evolutionary_genomics_korte/people/">JProf. Dr. Arthur Korte</a>
                            <a href="mailto:arthur.korte@uni-wuerzburg.de" target="_top"><i class="material-icons brown-text">email</i></a>
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="waves-effect waves-block waves-light">
                        <a target="_blank" href="https://www.bsse.ethz.ch/mlcb">
                        <img style="height:60px;padding:5px 5px;" class="activator" src="/static/img/eth_logo.png">
                        </a>
                    </div>
                    <div  class="card-content">
                        <span class="card-title grey-text text-darken-4">ETH Zürich, Department for Biosystems Science and Engineering</span>
                        <p><a target="_blank" href="https://www.bsse.ethz.ch/mlcb">Prof. Dr. Karsten Borgwardt</a>
                            <a href="mailto:karsten.borgwardt@bsse.ethz.ch" target="_top"><i class="material-icons brown-text">email</i></a>
                        </p>
                        <p><a target="_blank" href="https://www.bsse.ethz.ch/mlcb">Dr. Dominik Grimm</a>
                            <a href="mailto:dominik.grimm@bsse.ethz.ch" target="_top"><i class="material-icons brown-text">email</i></a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="waves-effect waves-block waves-light">
                        <a target="_blank" href="https://www.gmi.oeaw.ac.at/research-groups/magnus-nordborg/">
                        <img style="height:80px;padding:5px 5px;" class="activator" src="/static/img/GMI_logo.png">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Gregor Mendel Institute of Molecular Plant Biology</span>
                        <p><a target="_blank" href="https://www.gmi.oeaw.ac.at/research-groups/magnus-nordborg/">Prof. Dr. Magnus Nordborg</a>
                            <a href="mailto:magnus.nordborg@gmi.oeaw.ac.at" target="_top"><i class="material-icons brown-text">email</i></a>
                        </p>
                        <p><a target="_blank" href="https://www.gmi.oeaw.ac.at/research-groups/magnus-nordborg/">Ümit Seren</a>
                            <a href="mailto:uemit.seren@gmi.oeaw.ac.at" target="_top"><i class="material-icons brown-text">email</i></a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="waves-effect waves-block waves-light">
                        <a target="_blank" href="http://www.weigelworld.org/">
                        <img style="height:120px;padding:5px 5px;" class="activator" src="/static/img/mpi_logo.png">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Max Planck Institute for Developmental Biology</span>
                        <p><a target="_blank" href="http://www.weigelworld.org/">Prof. Dr. Detlef Weigel</a>
                            <a href="mailto:weigel@tue.mpg.de" target="_top"><i class="material-icons brown-text">email</i></a>
                        </p>
                    </div>
                </div>
            </div>
        
        
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){    
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
