{% extends "base.html" %}

{% block title %} AraPheno - General FAQ{% endblock title %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">

                <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle brown">help_outline</i>
                <span class="title black-text" style="font-size:20px">General FAQ about AraPheno</span>
                <br><br>
                 <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>What is AraPheno?</div>
                        <div class="collapsible-body"><p>AraPheno is a central repository for population scale phenotype data for the model plant <em>Arabidopsis thaliana</em></p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Is the data in AraPheno public?</div>
                        <div class="collapsible-body"><p>Data on AraPheno is public. Please cite the phenotype, original study of the phenotype as well as AraPheno if you use any data from this database.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Which information is stored in AraPheno?</div>
                        <div class="collapsible-body"><p>This database contains public phenotype data from different studies. RNASeq data was also added recently.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Which data formats are supported?</div>
                        <div class="collapsible-body"><p>AraPheno supports a variety of different data formats, including CSV, JSON, PLINK and ISA-TAB format.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Is it possible to download the phenotype data?</div>
                        <div class="collapsible-body"><p>Yes phenotype data can be download at the individual phenotype views. You can choose if you like to download the phenotypic meta-information, or the actual phenotype values. For this purpose, you can choose different formats, including CSV, JSON and PLINK.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Can I download the full database?</div>
                        <div class="collapsible-body"><p>Yes, if you click on the <a href='/rest/download' onclick="window.alert('Your download is being prepared, this can take a few seconds. Please click OK.'); return true;">download database</a> link in the home page. This will generate a zip file containing a csv file with a list of the studies (and their details) as well as one folder per study, with the study id as the folder name. Each folder contains information about the study's phenotypes as well as the values both in csv and plink format.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Should I upload mean/average values or replicates?</div>
                        <div class="collapsible-body">
                            <p>
                                Whenever replicate values are available, you should upload the replicate values and not the averages/means.
                                Both submission formats (ISA-TAB and PLINK) support uploading replicate values.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Is it possible to preserve the replicate information across multiple phenotypes?</div>
                        <div class="collapsible-body">
                            <p>
                                Yes, it is possible to preserve the specific value of each replicate across multiple phenotypes.
                                In case of PLINK or CSV just repeat the FID (accession_id) multiple times and add a an arbitary number into the IID (replicate_id) column or alternatively leave it empty (it is not used by AraPheno).
                                <br>For <b>PLINK</b> this should look as follows:
                            </p>
                            <pre>
                                        FID            IID pheno1 pheno2
                                        6909           1   24.5  100.2
                                        6909           2   23.2  101.5
                                        6909           3   25.2   99.4
                                        6414           4    5.4   10.4
                                        6414           5          11.2
                                        6414           6    4.2    9.8
                                ...
                            </pre>
                            <p>For <b>CSV</b> this should look as follows:</p>
                            <pre>
                                        accession_id,replicate_id,pheno1,pheno2
                                        6909,           1,   24.5,  100.2
                                        6909,           2,   23.2,  101.5
                                        6909,           3,   25.2,   99.4
                                        6414,           4,    5.4,   10.4
                                        6414,           5,       ,   11.2
                                        6414,           6,    4.2,    9.8
                                ...
                            </pre>
                            <p> The main difference between PLINK and CSV is that PLINK uses a space as a delimiter and CSV uses a comma. Addtionally the headers are different.
                                <br><br><b>Empty values are encoded as empty cells in both CSV and PLINK </b>(see pheno1 for accession_id/FID: 6414 and replicate_id/IID: 5)<br><br>
                                AraPheno will create separate replicate values for each accession and make sure that for example replicate <b>1</b> of <b>6909</b> has 24.6 for <b>pheno1</b> and 100.2 for </b>pheno2</b>.<br>
                                This also works for the ISA-TAB format.
                            </p>
                        </div>
                    </li>
                    <!--<li>
                        <div class="collapsible-header"><i class="material-icons">star</i>What do the terms TO, EO and UO mean?</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>-->
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star</i>Why is the RNASeq on a separate page?</div>
                        <div class="collapsible-body"><p>RNASeq experiments usually generate a lot of data, hence treating each gene in an RNASeq experiment as a separate phenotype on AraPheno would completely overshadow the other reported phenotypes. Therefore, we report RNASeq data separately, but in a similar way.</p></div>
                    </li>
                 </ul>

                </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
