{% extends "base.html" %}

{% block title %}AraPheno - How to cite?{% endblock title %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">

                <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle pink">edit</i>
                    <span class="title black-text" style="font-size:20px">General information on how to cite AraPheno and its phenotypes</span>
		    <br><br>
		    <p>
                    <h5>Citing AraPheno (Two Publications, 2016, 2019)</h5>
                    <div class="citation">
                        <div class="citation-title">AraPheno and the AraGWAS Catalog 2020: a major database update including RNA-Seq and knockout mutation data for Arabidopsis thaliana</div>
			<cite class="citation-author-list"><em>Matteo Togninalli*,  Ümit Seren*,  Jan A Freudenthal,  J Grey Monroe,  Dazhe Meng, Magnus Nordborg,  Detlef Weigel,  Karsten Borgwardt,  Arthur Korte, Dominik G Grimm</em></cite><br>
                        <cite class="citation-author-list">Nucl. Acids Res., 2019, https://doi.org/10.1093/nar/gkz925</cite>
			<br><br>
			<cite class="citation-author-list">* Equal contributions</cite>
                    </div>
		    <br>
                    <div class="citation">
                        <div class="citation-title">AraPheno: a public database for <em>Arabidopsis thaliana</em> phenotypes </div>
			<cite class="citation-author-list"><em>Ümit Seren*, Dominik Grimm*, Joffrey Fitz, Detlef Weigel, Magnus Nordborg, Karsten Borgwardt, and Arthur Korte</em></cite><br>
                        <cite class="citation-author-list">Nucl. Acids Res. first published online October 24, 2016 doi:10.1093/nar/gkw986</cite>
			<br><br>
			<cite class="citation-author-list">* Equal contributions</cite>
                    </div>
                    </p>
                    <br><br>
                    <h5>Citing Phenotypes & Studies </h5>
                    <p>
		    	To fully honor the work of the contributing authors, please use the <em>Cite</em> link at the respective individual study or phenotype views (see screenshot below):
			<br><br>
			<img src="/static/img/cite1.png" class="responsive-img"><br><br>
			Every phenotype and study respectively that has been published on AraPheno, gets a DOI number assigned. This DOI number is registered with <a href="https://www.datacite.org/" target="_blank">DataCite</a>. After clicking on the <em>Cite</em> link you get a list of all associated publications. You can retrieve the citations in various different formats:<br><br>
		<img src="/static/img/cite2.png" class="responsive-img"><br>

                    </p>
                </div>
                </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
