{% extends "base.html" %}

{% block title %}AraPheno - How to cite?{% endblock title %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">

                <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle pink">edit</i>
                    <span class="title black-text" style="font-size:20px">General information on how to cite AraPheno and its phenotypes</span>
                    <br><br>
                    <p>
                    <h5>Citing AraPheno (<a href="http://nar.oxfordjournals.org/content/early/2016/10/24/nar.gkw986.abstract" target="_blank">paper</a>):</h5>
                    <div class="citation">
                        <div class="citation-issue">Database Issue:</div>
                        <div class="citation-author-list">Ümit Seren, Dominik Grimm, Joffrey Fitz, Detlef Weigel, Magnus Nordborg, Karsten Borgwardt, and Arthur Korte</div>
                        <div class="citation-title">AraPheno: a public database for <em>Arabidopsis thaliana</em> phenotypes </div>
                        <cite>Nucl. Acids Res. first published online October 24, 2016 doi:10.1093/nar/gkw986</cite>
                    </div>
                    </p>
                    <h5>Citing Phenotypes & Studies:</h5>
                    <p>
                        Every phenotype and study respectively that has been published on AraPheno, gets a DOI number assigned. This DOI number is registered with <a href="https://www.datacite.org/" target="_blank">DataCite</a>.
                        For citing a specific phenotype or study, just open the detailed view of the corresponding study or phenotype and click on the DOI link.
                        <br>
                        This is how the <a href="http://search.datacite.org/works/10.21958/study:1" target="_blanK">citation</a> for the <a href="/study/1/" target="_blank">Atwell study</a> looks like.
                    </p>
                </div>
                </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
