{% extends "base.html" %}

{% block title %}AraPheno - REST API{% endblock title %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">
            
                <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle amber">code</i>
                <span class="title black-text" style="font-size:20px">Information about REST API</span>
                <br><br>
                 <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>What is a REST API?</div>
                        <div class="collapsible-body"><p>
                        REST is an abbriviation for <strong>representational state transfer</strong>. It can be used to retrive data from AraPheno
                        using certain URLs. You also can write custom scripts (e.g. in Python, Pearl, Java etc.) to request and download the information you need.
                        <br>
                        <br>
                        All REST commands will start with the following prefix: <strong>/rest/</strong>
                        <br>
                        <br>
                        More information can be found at Wikipedia: <a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_top"> What is REST?</a>
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get a list of all phenotypes?</div>
                        <div class="collapsible-body"><p>You can use one of the following URL to retrive a list of phenotypes.
                        <br><br>
                        <strong>For CSV format: <a href="/rest/phenotype/list.csv">http://arapheno.1001genomes.org/rest/phenotype/list.csv</a></strong>
                        <br><br>
                        <strong>For JSON format: <a href="/rest/phenotype/list.json">http://arapheno.1001genomes.org/rest/phenotype/list.json</a></strong> 
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get details for a certain phenotype?</div>
                        <div class="collapsible-body"><p>You can use either the primary id or DOI to access certain details for a phenotype. Just replace &lt;q&gt; with the phenotype id or DOI.
                        <br><br>
                        <strong>For CSV format: http://arapheno.1001genomes.org/rest/phenotype/&lt;q&gt;.csv</strong>
                        <br><br>
                        <strong>For JSON format: http://arapheno.1001genomes.org/rest/phenotype/&lt;q&gt;.json</strong> 
                        <br><br>
                        Example: <a href="/rest/phenotype/1.json">http://arapheno.1001genomes.org/rest/phenotype/1.json</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get all phenotype values and accession information for a certain phenotype?</div>
                        <div class="collapsible-body"><p>You can use either the primary id or DOI to get all phenotype values for a certain phenotype. 
                        Just replace &lt;q&gt; with the study id or DOI and extend URL with <strong>/phenotypes</strong> and extend the URL with <strong>/values</strong>
                        <br><br>
                        <strong>For CSV format: http://arapheno.1001genomes.org/rest/phenotype/&lt;q&gt;/values.csv</strong>
                        <br><br>
                        <strong>For JSON format: http://arapheno.1001genomes.org/rest/phenotype/&lt;q&gt;/values.json</strong> 
                        <br><br>
                        Example: <a href="/rest/phenotype/1/values.json">http://arapheno.1001genomes.org/rest/phenotype/1/values.json</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get a list of all studies?</div>
                        <div class="collapsible-body"><p>You can use one of the following URL to retrive a list of studies.
                        <br><br>
                        <strong>For CSV format: <a href="/rest/study/list.csv">http://arapheno.1001genomes.org/rest/study/list.csv</a></strong>
                        <br><br>
                        <strong>For JSON format: <a href="/rest/study/list.json">http://arapheno.1001genomes.org/rest/study/list.json</a></strong> 
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get details for a certain study?</div>
                        <div class="collapsible-body"><p>You can use either the primary id or DOI to access certain details for a study. Just replace &lt;q&gt; with the study id or DOI.
                        <br><br>
                        <strong>For CSV format: http://arapheno.1001genomes.org/rest/study/&lt;q&gt;.csv</strong>
                        <br><br>
                        <strong>For JSON format: http://arapheno.1001genomes.org/rest/study/&lt;q&gt;.json</strong> 
                        <br><br>
                        Example: <a href="/rest/study/1.json">http://arapheno.1001genomes.org/rest/study/1.json</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get all phenotypes for a certain study?</div>
                        <div class="collapsible-body"><p>You can use either the primary id or DOI to access a list of all phenotypes for a study. 
                        Just replace &lt;q&gt; with the study id or DOI and extend URL with <strong>/phenotypes</strong>.
                        <br><br>
                        <strong>For CSV format: http://arapheno.1001genomes.org/rest/study/&lt;q&gt;/phenotypes.csv</strong>
                        <br><br>
                        <strong>For JSON format: http://arapheno.1001genomes.org/rest/study/&lt;q&gt;/phenotypes.json</strong> 
                        <br><br>
                        Example: <a href="/rest/study/1/phenotypes.json">http://arapheno.1001genomes.org/rest/study/1/phenotypes.json</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get a list of all accessions?</div>
                        <div class="collapsible-body"><p>You can use one of the following URL to retrive a list of accessions.
                        <br><br>
                        <strong>For CSV format: <a href="/rest/accession/list.csv">http://arapheno.1001genomes.org/rest/accession/list.csv</a></strong>
                        <br><br>
                        <strong>For JSON format: <a href="/rest/accession/list.json">http://arapheno.1001genomes.org/rest/accession/list.json</a></strong> 
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get details for a certain accession?</div>
                        <div class="collapsible-body"><p>You can use the accession id to access certain details for an accession. Just replace &lt;q&gt; with the accession id.
                        <br><br>
                        <strong>For CSV format: http://arapheno.1001genomes.org/rest/accession/&lt;q&gt;.csv</strong>
                        <br><br>
                        <strong>For JSON format: http://arapheno.1001genomes.org/rest/accession/&lt;q&gt;.json</strong> 
                        <br><br>
                        Example: <a href="/rest/accession/6074.json">http://arapheno.1001genomes.org/accession/study/6074.json</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get all phenotypes for a certain accession?</div>
                        <div class="collapsible-body"><p>You can use the accession id to access a list of all phenotypes for this accession. 
                        Just replace &lt;q&gt; with the accession id and extend URL with <strong>/phenotypes</strong>.
                        <br><br>
                        <strong>For CSV format: http://arapheno.1001genomes.org/rest/accession/&lt;q&gt;/phenotypes.csv</strong>
                        <br><br>
                        <strong>For JSON format: http://arapheno.1001genomes.org/rest/accession/&lt;q&gt;/phenotypes.json</strong> 
                        <br><br>
                        Example: <a href="/rest/accession/6074/phenotypes.json">http://arapheno.1001genomes.org/rest/accession/6074/phenotypes.json</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to do a database search with REST?</div>
                        <div class="collapsible-body"><p>You can use the following URL to perform a search.
                        Just replace &lt;query&gt; with your search query (e.g. with a phenotype name). If the search query is empty you will get a list with all phenotypes and studies.
                        <br><br>
                        <strong>For CSV format: http://arapheno.1001genomes.org/rest/search/&lt;query&gt;.csv</strong>
                        <br><br>
                        <strong>For JSON format: http://arapheno.1001genomes.org/rest/search/&lt;query&gt;.json</strong> 
                        <br><br>
                        Example: <a href="/rest/search/at.json">http://arapheno.1001genomes.org/rest/search/at.json</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to retrive phenotype correlations via REST?</div>
                        <div class="collapsible-body"><p>You can use the following URL to compute phenotype-phenotype correlations.
                        Just replace &lt;query&gt; with a comma sperated list oh phenotype ids. Note, that for this query we only support JSON as output format.
                        <br><br>
                        <strong>http://arapheno.1001genomes.org/rest/correlation/&lt;query&gt;/</strong>
                        <br><br>
                        Example: <a href="/rest/correlation/6,29,30,31,49,102,99,53,86,39/">http://arapheno.1001genomes.org/rest/correlation/6,29,30,31,49,102,99,53,86,39/</a>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to submit your study via REST?</div>
                        <div class="collapsible-body"><p>You can submit a study by sending a <code>POST</code> request containing the study file in ISA-TAB or PLINK format 
                        and additional form fields (i.e. firstname. lastname, email) to the following url:
                        <strong>http://arapheno.1001genomes.org/rest/submission/</strong><br>
                        The response will contain information about the submission (see below)
                        <br><br>
                        Example (cURL): <code>curl -X POST -H "Cache-Control: no-cache" -H "Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW" -F "file=@" -F "firstname=John" -F "lastname=Doe" -F "email=john@doe.com" "http://localhost:8000/rest/submission/"</code>
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                   <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to get details for a submission?</div>
                        <div class="collapsible-body"><p>You can use the submission_id to view details such as status and curation about the submission. Just replace &lt;q&gt; with the submission_id:
                        <br><br>
                        <strong>http://arapheno.1001genomes.org/rest/submission/&lt;q&gt;.json</strong> 
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to delete a submission?</div>
                        <div class="collapsible-body"><p>You can use the submission_id to delete by sending a <code>DELETE</code> request. Just replace &lt;q&gt; with the submission_id:
                        <br><br>
                        <strong>http://arapheno.1001genomes.org/rest/submission/&lt;q&gt;/delete</strong>
                        <br><br>
                        Example (cURL): <code>curl -X DELETE -H "Cache-Control: no-cache" "http://localhost:8000/rest/submission/[SUBMISSION_ID]/delete"</code> 
                        <br><br>
                        A more detailed API description can be found here: <a href="/faq/rest/swagger/">API Documentation</a>
                        </p>
                        </div>
                    </li>

                 </ul>
                
                </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){    
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
