{% extends "base.html" %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">
            
                <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle amber">code</i>
                <span class="title black-text" style="font-size:20px">Information about REST API</span>
                <br><br>
                 <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>What is a REST API?</div>
                        <div class="collapsible-body"><p>
                        REST is an abbriviation for <strong>representational state transfer</strong>. It is bla bla write text
                        <br>
                        <br>
                        More information can be found at Wikipedia: <a href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_top"> What is REST?</a>
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to access phenotypes?</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to access studies?</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to download a list of phenotypes?</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">code</i>How to download studies?</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                 </ul>
                
                </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){    
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
