{% extends "base.html" %}

{% block content %}

<div id="index-banner" class="parallax-container" style="height:370px">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center white-text text-lighten-2">AraPheno</h1>
            <div class="row center">
                <h5 class="header col s12 m12 l12 light">AraPheno is a public database collection of <em>Arabidopsis thaliana</em> phenotypes.</h5>
                <br>
                <br>
                <h5 class="header col s12 m12 l12 light">This Database allows to search and filter for public phenotypes and to obtain additional meta-information.</h5>
            </div>
            <form method="post" action="." name="_search_form">
                {% csrf_token %}
                    <div class="valign-wrapper white" id="search_box">
                    <i class="material-icons prefix left valign brown-text">search</i>
                    {{ search_form.global_search }}
                    <li class="waves-effect"><a href="#!"><i class="material-icons prefix right valign brown-text" id="submit_search">chevron_right</i></a></li>
                    </div>
            </form>
        </div>
    </div>
    <div class="parallax"><img src="static/img/ara1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row center">
            <!--<div class="col s12 m6 offset-m3 l4 offset-l4">-->
            <div class="col s12 m6 l4 offset-l2">
                 <div class="icon-block">
                     <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">backup</i></h3>
                     <h5 class="center">Submit Phenotypes</h5>
                     <p class="light">Submit and publish your own studies and phenotypes in order to share it with the community</p>
                 </div>
                 <a class="waves-effect waves-light btn-large brown"  href="/submission/"><i class="material-icons left">backup</i>Submit Phenotypes</a>
             </div>
            <div class="col s12 m6 l4">
                 <div class="icon-block">
                     <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">cloud_download</i></h3>
                     <h5 class="center">Download Database</h5>
                     <p class="light">Here you can download the full database, including all phenotypes and meta-information</p>
                 </div>
                 <a class="waves-effect waves-light btn-large brown"  href="/rest/download/" onclick="window.alert('Your download is being prepared, this can take a few seconds. Please click OK.'); return true;">
                    <i class="material-icons left">cloud_download</i>Download Database
                </a>
             </div>
	    </div>

        <div class="row center">
            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">view_list</i></h3>
                    <h5 class="center">Public Studies</h5>
                    <p class="light justify">Browse through all available public <em>Arabidopsis thaliana</em> studies and retrive additional information.</p>
                </div>
                <a class="waves-effect waves-light btn-large brown" href="{% url 'studies' %}" id="view_studies_button"><i class="material-icons left">view_list</i>View Studies</a>
            </div>
            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">spa</i></h3>
                    <h5 class="center">Public Phenotypes</h5>
                    <p class="light justify">Browse through all available public <em>Arabidopsis thaliana</em> phenotypes and studies and retrive additional information.</p>
                </div>
                <a class="waves-effect waves-light btn-large brown" href="{% url 'phenotypes' %}" id="view_phenotypes_button"><i class="material-icons left">spa</i>View Phenotypes</a>
            </div>
            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">code</i></h3>
                    <h5 class="center">REST API</h5>
                    <p class="light">The REST API can be used to retrive phenotype data and meta-information from AraPheno via URLs.</p>
                </div>
                <a class="waves-effect waves-light btn-large brown" id="rest_button" href="/faq/rest/"><i class="material-icons left">code</i>REST API</a>
            </div>
        </div>
    
        <div class="row center">
            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">rowing</i></h3>
                    <h5 class="center">Take a Tour</h5>
                    <p class="light">
                    Take a guided tour through Arapheno and familiarise yourself with all available public functions. </p>
                </div>
                <a class="waves-effect waves-light btn-large brown" id="start_tour" ><i class="material-icons left">rowing</i>Take a Tour</a>
            </div>

            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">help_outline</i></h3>
                    <h5 class="center">FAQ & Tutorials</h5>
                    <p class="light">Here, you can find detailed help about the functions of AraPheno, its integrated data and frequently asked questions.</p>
                </div>
                <a class="waves-effect waves-light btn-large brown modal-trigger" href="#faqmodal" id="faq_button"><i class="material-icons left">help_outline</i>FAQ</a>
            </div>

            <div class="col s12 m6 l4">
                    <div class="icon-block">
                        <h3 class="center brown-text"><i class="material-icons" style="font-size:35px">feedback</i></h3>
                        <h5 class="center">Feedback & Issues</h5>
                        <p class="light">Here, you can submit issues, feedback or any related questions regarding AraPheno.</p><br>
                    </div>
                    <a class="waves-effect waves-light btn-large brown modal-trigger" href="/feedback/" id="feedback_button"><i class="material-icons left">feedback</i>Feedback</a>
                </div>
        </div>

        
	</div>
</div>

<div class="parallax-container" style="height:100px">
    <div class="parallax"><img src="static/img/ara1.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l7 m12">
                <h5 class="light"><i class="material-icons brown-text" style="font-size=35px">fiber_new</i> News & Updates</h5><div class="card brown lighten-5">
                <div class="card-content black-text">
                    <span class="card-title"><i class="material-icons brown-text" style="font-size=50px">library_books</i> AraGWAS Catalog paper published</span>
                    <p class="light">
                        We are happy to announce that the AraGWAS Catalog was published in the Database issue of Nucleic Acids Research:<br>
                        <div style="padding:10px">Matteo Togninalli, Ümit Seren, Dazhe Meng, Joffrey Fitz, Magnus Nordborg, Detlef Weigel, Karsten Borgwardt, Arthur Korte, and Dominik G. Grimm; The <b></b>AraGWAS Catalog: a curated and standardized Arabidopsis thaliana GWAS catalog</b>; Nucleic Acids Research, gkx954,<br><a href="https://doi.org/10.1093/nar/gkx954" target="_blank">https://doi.org/10.1093/nar/gkx954</a> </div><br>
                    </p>
                    </div>
                </div>
                <div class="card brown lighten-5">
                    <div class="card-content black-text">
                       <span class="card-title"><i class="material-icons brown-text" style="font-size=50px">library_books</i> AraPheno paper published</span>
                        <p class="light">
                            We are happy to annouce that AraPheno was <a href="http://nar.oxfordjournals.org/content/early/2016/10/24/nar.gkw986.abstract" target="_blank">published</a> in the Database issue of Nucleic Acids Research (NAR):<br>
                            <div style="padding:10px">Ümit Seren, Dominik Grimm, Joffrey Fitz, Detlef Weigel, Magnus Nordborg, Karsten Borgwardt, and Arthur Korte:AraPheno: A public database for Arabidopsis thaliana phenotype, Nucl. Acids Res. first published online October 24, 2016 doi:10.1093/nar/gkw986</div><br>
                        </p>
                    </div>
                </div>
                <div class="card brown lighten-5">
                    <div class="card-content black-text">
                       <span class="card-title"><i class="material-icons brown-text" style="font-size=50px">new_releases</i> AraPheno is online</span>
                        <p class="light">
                            We are proud to annouce that the first public phenotype database for the model organism <em>Arabidopsis thaliana</em> has launched.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 l5 m12">
                <h5 class="light"><i class="material-icons brown-text" style="font-size=35px">insert_chart</i> Quick Stats</h5><div class="card brown lighten-5">
                <div class="card-content black-text">
			<span style="white-space:nowrap" class="card-title"><i class="material-icons brown-text" style="font-size=50px">view_list</i> {{stats.studies}} Studies</span><br>
			<span style="white-space:nowrap" class="card-title"><i class="material-icons brown-text" style="font-size=50px">spa</i> {{stats.phenotypes}} Phenotypes</span><br>
			<span style="white-space:nowrap" class="card-title"><i class="material-icons brown-text" style="font-size=50px">history</i> Last Update: {{stats.last_update}}</span>
                </div>
	    </div>
	    </div>
            <div class="col s12 l5 m12">
                <h5 class="light"><i class="material-icons brown-text" style="font-size=35px">insert_chart</i> Twitter</h5><div class="card brown lighten-5">
       	    <a class="twitter-timeline" href="https://twitter.com/aragwas?ref_src=twsrc%5Etfw">Tweets by aragwas</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	    </div>
	</div>
    </div>
</div>
<div class="parallax-container" style="height:100px">
    <div class="parallax"><img src="static/img/ara1.jpg" alt="Unsplashed background img 2"></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax();
    });

    $('#id_global_search-autocomplete').yourlabsAutocomplete({
        choiceSelector: '[data-url]'
    });

    $('#submit_search').click(function(){
        document.forms['_search_form'].submit();
    });

    $('#start_tour').click(function() {
        ga('send', 'event', 'Tour', 'start','Home');
        var steps = [
            {
                element: '.header',
                intro: 'AraPheno is a public database collection of <em>Arabidopsis thaliana</em> phenotypes. This tour will show the important features'
            },
            {
                element: '#search_box',
                intro: 'The global search form allows the user to search across all phenotypes and studies'
            },
            {
                element: '#faq_button',
                intro: 'The FAQ section provides tutorials of the various features of AraPheno'
            },
            {
                element: '#rest_button',
                intro: 'AraPheno provides a well-documented REST API for programmatic access to the data'
            },
            {
                element: '#view_phenotypes_button',
                intro: 'Users can view a list of public phenotypes and studies'
            }

        ];
        var intro = introJs();
        intro.setOptions({doneLabel:'Next page',steps:steps});
        intro.start().oncomplete(function() {
          ga('send', 'event', 'Tour', 'nextpage','Home');
          window.location.href = 'phenotypes/?multipage=true';
        }).onexit(function() {
          ga('send', 'event', 'Tour', 'exit','Home');
        });
    });

    </script>
{% endblock content %}
