{% extends "base.html" %}

{% block title %}AraPheno - Tutorials{% endblock title %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">

                <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle green">child_friendly</i>
                <span class="title black-text" style="font-size:20px">Tutorials</span>
                <br><br>
                 <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to list all available phenotypes?</div>
                        <div class="collapsible-body"><p>
                            You can retrive a list of all phenotypes for all studies by following this link: <a href="/phenotypes/">Show all Phenotypes</a> or via the global navigation menu at the top.
                            <br>
                            <br>
                            In addition you can also use the AraPheno REST API. More information about the REST API can be found here: <a href="/faq/rest/">Information about the REST API</a>
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to list all available studies?</div>
                        <div class="collapsible-body"><p>
                            You can retrive a list of all studies by following this link: <a href="/studies/">Show all Studies</a> or via the global navigation menu at the top.
                            <br>
                            <br>
                            In addition you can also use the AraPheno REST API. More information about the REST API can be found here: <a href="/faq/rest/">Information about the REST API</a>
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to search for a phenotype name or study?</div>
                        <div class="collapsible-body"><p>
                        At the AraPheno <a href="/">home view</a> we provide a search form. Here, you can type in any phenotype or study name. An autocompletion will help you finding the correct phenotype or name. If you click on a entrie in the autocomplete form you will be directly redirected to the study/phenotype you searched for. If you press enter you will be redirected to a result view. This result view gives an overview about all phenotypes and studies that could have been found with your search query.
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to get detailed information and meta-information about a study?</div>
                        <div class="collapsible-body"><p>
                        Each entry in the study table is clickable. Thus, you will be redirected to the study specific view with additional information and meta-information.
                        You will see all phenotypes that are linked to this study. Furthermore, you can retrive additional information about trait ontologies, environment ontoloties and units.
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to get detailed information and meta-information about a phenotype?</div>
                        <div class="collapsible-body"><p>
                        Each entry in the phenotype table is clickable. Thus, you will be redirected to the phenotype specific view with additional information and meta-information.
                        Here, you can see the geographic distribution of all accessions of this phentype, as well as dynamic visualisations about the measurment distribution.
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to compute phenotype-phenotype correlations?</div>
                        <div class="collapsible-body"><p>
                        You can compute phenotype-phenotype correlations for a list of up to ten phenotypes. We implemented a <a href="/correlation/" target="_top">Phenotype Correlation</a> tool that guides you through selecting available phenotypes via an autocompletion search field. In this field you just have to search for phenotypes by name. You can select up to ten phenotypes. After you submitted your selection AraPheno will compute the phenotype correlations on the fly. On the results page you can see a heatmap with all pairwise phenotype correlations. Hovering with the cursor over circles in the correlation plot will update the phenotype-phenotype scatter plot and the sample-overlap plot for this phenotype pair. Here, you can see a live demo of the result page: <a href="/correlation/6,29,30,31,49,102,99,53,86,39/" target="_top">Demo</a>.
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to group phenotypes by ontologies?</div>
                        <div class="collapsible-body">
                            <p>
                                Phenotypes can be annotated by various ontologies (<b>Plant Trait Ontology</b>, <b>Plant Environmental Conditions</b> and <b>Unit of Measurement</b>).
                                This makes it possible to view all available phenotypes for a specific ontology term.
                                To access this feature, first choose "<i>Ontologies</i>" from the "<i>Data</i>" menu in the top toolbar.
                                This will display a list of available ontologies. By clicking on the "<i>Show</i>" button, the user will be navigated to the corresponding
                                ontology detail view. On the left side a tree widget displays all ontology terms that are part of the selected ontology.
                                By selecting an ontology term from the tree widget, detailed information about the selected term is displayed on the right side.
                                Below that a table of phenotypes that are annotated by the selected term or any of its subterms will be shown.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to upload a study/phenotypes?</div>
                        <div class="collapsible-body">
                            <p>
                                You can upload a study by clicking on the "<i>Submit Phenotypes</i>" button on the landing page.<br>
                                The data has to be provided in either <a href="http://cropnet.pl/phenotypes/?page_id=37" target="_blank">ISA-TAB</a>
                                (<a href="/rest/study/12/isatab" target="_blank">sample</a>), PLINK (<a href="/rest/study/12/values.plink" target="_blank">sample</a>) or CSV format (<a href="/rest/study/12/values.csv" target="_blank">sample</a>).
                                Additionally you must provide contact information (email + name).<br>
                                Once uploaded, the submission will be reviewed by one of our curators and you will be automatically redirected to a submission status page. Additionally an email containing the URL to the submission status page will be sent
                                to your specified email address, so you can check your submission at a later time. If the curators raise issues, you can view them there.
                                If there are no issues left, the curators will make the submission public and everyone will be able to access your submitted study.
                            </p>
                            <p>
                                PLINK format:
                            </p>
                            <pre>
                                        FID            IID pheno1 pheno2
                                        6909           1   24.5  100.2
                                        6909           2   23.2  101.5
                                        6909           3   25.2   99.4
                                        6414           4    5.4   10.4
                                        6414           5          11.2
                                        6414           6    4.2    9.8
                                        ...
                            </pre>
                            <p>CSV format:</p>
                            <pre>
                                        accession_id,replicate_id,pheno1,pheno2
                                        6909,           1,   24.5,  100.2
                                        6909,           2,   23.2,  101.5
                                        6909,           3,   25.2,   99.4
                                        6414,           4,    5.4,   10.4
                                        6414,           5,       ,   11.2
                                        6414,           6,    4.2,    9.8
                                ...
                            </pre>
                            <p>
                                <b>Empty values are encoded as empty cells in both CSV and PLINK </b>(see pheno1 for accession_id/FID: 6414 and replicate_id/IID: 5)<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to bulk-update the meta-information for all the phenotypes in a submission?</div>
                        <div class="collapsible-body">
                            <p>
                                In case you submit a study with many phenotypes, it can be cumbersome to edit the meta-information (trait, environment and unit ontology, scoring, type, etc) of all the phenotypes manually. The submission detail view provides a feature to upload a CSV with meta-information for one or more phenotypes in the study. To do so open the submission detail page (link that was sent in the email), select the CSV file with the meta-information for the phenotypes in your study and save the study. The phenotypes for which the CSV file contains the meta-information are updated.
                                The CSV has following format:
                            </p>
                            <pre>
            Phenotype,  Scoring,               eo_term_id, to_term_id, uo_term_id, Type
            phenotype1, Scoring of phenotype1, EO:0007256, TO:0000371, UO:0000005, binary
            phenotype2, Scoring of phenotype2, EO:0007256, TO:0000202, UO:0000270, quantitive
            phenotype3, Scoring of phenotype3, EO:0007256, TO:0000183, UO:0000304, categorical
            ...
                            </pre>
                            <p>
                            The IDs for eo_term_id (environment ontology), to_term_id (trait ontology) and uo_term_id (unit ontology) can be found on the <a href="/ontology/">Ontologies page</a>
                            </p>
                        </div>
                    </li>
                 </ul>

                </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
