{% extends "base.html" %}

{% block title %}AraPheno - Tutorials{% endblock title %}

{% block content %}
<div id="index-banner" class="parallax-container" style="height:130px">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img src="/static/img/ara4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l12 m12">
            
                <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle green">child_friendly</i>
                <span class="title black-text" style="font-size:20px">Tutorials</span>
                <br><br>
                 <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to list all available phenotypes?</div>
                        <div class="collapsible-body"><p>
                            You can retrive a list of all phenotypes for all studies by following this link: <a href="/phenotypes/">Show all Phenotypes</a> or via the global navigation menu at the top.
                            <br>
                            <br>
                            In addition you can also use the AraPheno REST API. More information about the REST API can be found here: <a href="/faq/rest/">Information about the REST API</a>
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to list all available studies?</div>
                        <div class="collapsible-body"><p>
                            You can retrive a list of all studies by following this link: <a href="/studies/">Show all Studies</a> or via the global navigation menu at the top.
                            <br>
                            <br>
                            In addition you can also use the AraPheno REST API. More information about the REST API can be found here: <a href="/faq/rest/">Information about the REST API</a>
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to search for a phenotype name or study?</div>
                        <div class="collapsible-body"><p>
                        At the AraPheno <a href="/">home view</a> we provide a search form. Here, you can type in any phenotype or study name. An autocompletion will help you finding the correct phenotype or name. If you click on a entrie in the autocomplete form you will be directly redirected to the study/phenotype you searched for. If you press enter you will be redirected to a result view. This result view gives an overview about all phenotypes and studies that could have been found with your search query.
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to get detailed information and meta-information about a study?</div>
                        <div class="collapsible-body"><p>
                        Each entry in the study table is clickable. Thus, you will be redirected to the study specific view with additional information and meta-information.
                        You will see all phenotypes that are linked to this study. Furthermore, you can retrive additional information about trait ontologies, environment ontoloties and units. 
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to get detailed information and meta-information about a phenotype?</div>
                        <div class="collapsible-body"><p>
                        Each entry in the phenotype table is clickable. Thus, you will be redirected to the phenotype specific view with additional information and meta-information.
                        Here, you can see the geographic distribution of all accessions of this phentype, as well as dynamic visualisations about the measurment distribution. 
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to compute phenotype-phenotype correlations?</div>
                        <div class="collapsible-body"><p>
                        You can compute phenotype-phenotype correlations for a list of up to ten phenotypes. We implemented a <a href="/correlation/" target="_top">Phenotype Correlation</a> tool that guides you through selecting available phenotypes via an autocompletion search field. In this field you just have to search for phenotypes by name. You can select up to ten phenotypes. After you submitted your selection AraPheno will compute the phenotype correlations on the fly. On the results page you can see a heatmap with all pairwise phenotype correlations. Hovering with the cursor over circles in the correlation plot will update the phenotype-phenotype scatter plot and the sample-overlap plot for this phenotype pair. Here, you can see a live demo of the result page: <a href="/correlation/6,29,30,31,49,102,99,53,86,39/" target="_top">Demo</a>.
                        </p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">child_friendly</i>How to group phenotypes by ontologies?</div>
                        <div class="collapsible-body">
                            <p>
                                Phenotypes can be annotated by various ontologies (<b>Plant Trait Ontology</b>, <b>Plant Environmental Conditions</b> and <b>Unit of Measurement</b>). 
                                This makes it possible to view all available phenotypes for a specific ontology term.  
                                To access this feature, first choose "<i>Ontologies</i>" from the "<i>Data</i>" menu in the top toolbar. 
                                This will display a list of available ontologies. By clicking on the "<i>Show</i>" button, the user will be navigated to the corresponding
                                ontology detail view. On the left side a tree widget displays all ontology terms that are part of the selected ontology. 
                                By selecting an ontology term from the tree widget, detailed information about the selected term is displayed on the right side.
                                Below that a table of phenotypes that are annotated by the selected term or any of its subterms will be shown.        
                            </p>
                        </div>
                    </li>
                 </ul>
                
                </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){    
        $('.parallax').parallax();
    });
</script>
{% endblock content %}
