<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/static/css/arapheno.css" media="screen,projection"/>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <style>
             body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
            .chart {
                height:400px;
                width:100%;
            }
        </style>
    </head>

    <body>
        <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.min.js"></script>
        {% include 'autocomplete_light/static.html' %}
        <div class="navbar-fixed">
        <nav class="white">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo black-text">AraPheno</a>
                <ul class="right hide-on-med-and-down black-text">
                    <li><a class="black-text" href="/phenotypes">View Phenotypes</a></li>
                    <li><a class="black-text" href="/studies">View Studies</a></li>
                    <li><a class="black-text" href="/about">About</a></li>
                    <li><a class="black-text modal-trigger" href="#faqmodal">FAQ</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a class="black-text" href="/phenotypes">View Phenotypes</a></li>
                    <li><a class="black-text" href="/studies">View Studies</a></li>
                    <li><a class="black-text" href="/about">About</a></li>
                    <li><a class="black-text" href="/faq">FAQ</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
            </div>        
        </nav>
        </div>
        <main>
        {% block content %}{% endblock content %}
        </main>
        <footer class="page-footer brown lighten-2">
            <div class="container">

            </div>
            <div class="footer-copyright brown">
                <div class="container">
                 AraPheno is a public database for <em>Arabidopsis thaliana</em> phenotypes.
                 <a class="modal-trigger waves-effect waves-light white-text text-lighten-4 right" href="#footermodal">Impressum</a>
                </div>
            </div>
        </footer>

        <div id="footermodal" class="modal bottom-sheet" style="z-index: 1003; display: none; opacity: 0; bottom: -100%;">
            <div class="modal-content">
                <h4>Impressum</h4>
                <p>Impressum text bla bla bla</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
        
        <div id="faqmodal" class="modal bottom-sheet" style="z-index: 1003; display: none; opacity: 0; bottom: -100%;">
            <div class="modal-content">
                <h4>FAQ & Tutorials</h4>
                {% include "home/faqlist.html" %}
            </div>
        </div>



    <script type="text/javascript">
        $(document).ready(function(){    
            $('.button-collapse').sideNav();
            $('.modal-trigger').leanModal({
                dimissible:true,
                in_duration: 300,
            });
        });
    </script>
    </body>
</html>
